@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 90%; /* Light background */
    --foreground: 0, 0%, 10%; /* Dark foreground text */

    --muted: 0, 0%, 90%; /* Light muted background */
    --muted-foreground: 0, 0%, 20%; /* Dark text on muted */

    --popover: 0, 0%, 95%; /* Popover background */
    --popover-foreground: 0, 0%, 10%; /* Dark text for popovers */

    --card: 0, 0%, 95%; /* Card background */
    --card-foreground: 0, 0%, 10%; /* Card foreground text */

    --border: 0, 0%, 80%; /* Light border color */
    --input: 0, 0%, 90%; /* Input background */

    --primary: 215, 70%, 44%; /* Primary color */
    --primary-foreground: 0, 0%, 97%; /* Light text on primary */

    --secondary: 215, 70%, 44%; /* Secondary color */
    --secondary-foreground: 0, 0%, 97%; /* Light text on secondary */

    --accent: 37, 100%, 45%; /* Darker accent for light theme */
    --accent-foreground: 0, 0%, 10%; /* Dark text on accent */

    --destructive: 0, 62.8%, 30.6%; /* Destructive action color */
    --destructive-foreground: 0, 0%, 97%; /* Light text on destructive */

    --ring: 215, 70%, 44%; /* Ring color */
  }

  .dark {
    --background: 0, 0%, 11%; /* #1c1c1c */
    --foreground: 0, 0%, 97%; /* Light foreground text for contrast */

    --muted: 215, 10%, 20%; /* Dark muted */
    --muted-foreground: 215, 10%, 80%; /* Light text on muted background */

    --popover: 215, 10%, 13%; /* Popover background */
    --popover-foreground: 0, 0%, 97%; /* Light text for popovers */

    --card: 215, 10%, 13%; /* Card background */
    --card-foreground: 0, 0%, 97%; /* Card foreground text */

    --border: 215, 10%, 20%; /* Darker border color */
    --input: 215, 10%, 20%; /* Input background color */

    --primary: 215, 70%, 44%; /* Primary color */
    --primary-foreground: 0, 0%, 97%; /* Light text on primary */

    --secondary: 215, 10%, 20%; /* Secondary color */
    --secondary-foreground: 0, 0%, 97%; /* Light text on secondary */

    --accent: 37, 100%, 81%; /* #ffdd9e converted to HSL */
    --accent-foreground: 215, 10%, 20%; /* Dark text on accent */

    --destructive: 0, 62.8%, 30.6%; /* Destructive action color */
    --destructive-foreground: 0, 0%, 97%; /* Light text on destructive */

    --ring: 215, 70%, 94%; /* Ring color */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    --gradient-opacity: 0.25;
    @apply bg-background text-foreground;
    background: linear-gradient(
      -45deg,
      hsl(var(--primary) / var(--gradient-opacity)),
      hsl(var(--background) / var(--gradient-opacity)),
      hsl(var(--background) / var(--gradient-opacity)),
      hsl(var(--primary) / var(--gradient-opacity)),
      hsl(var(--accent) / var(--gradient-opacity))
    );
    background-size: 400% 400%;

    animation: Gradient 15s infinite steps(75);
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
