@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #114357;
    --background: 209 98.35% 98.4%;
    --foreground: 209 6.7% 0.8%;

    --muted: 209 6.7% 92%;
    --muted-foreground: 209 3.35% 42%;

    --popover: 209 43.099999999999994% 100%;
    --popover-foreground: 209 6.7% 1%;

    --card: 209 43.099999999999994% 100%;
    --card-foreground: 209 6.7% 1%;

    --border: 209 11.7% 89.8%;
    --input: 209 11.7% 89.8%;

    --primary: 209 67% 20%;
    --primary-foreground: 209 1.34% 92%;

    --secondary: 209 18.76% 100%;
    --secondary-foreground: 209 5.0200000000000005% 12%;

    --accent: 209 18.76% 100%;
    --accent-foreground: 209 5.0200000000000005% 12%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 209 67% 20%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 215 53.3% 3.52%;
    --foreground: 215 8.2% 97.2%;

    --muted: 215 41% 13.2%;
    --muted-foreground: 215 8.2% 54.4%;

    --popover: 215 48.6% 5.72%;
    --popover-foreground: 215 8.2% 97.2%;

    --card: 215 48.6% 5.72%;
    --card-foreground: 215 8.2% 97.2%;

    --border: 215 41% 13.2%;
    --input: 215 41% 13.2%;

    --primary: 215 82% 44%;
    --primary-foreground: 215 8.2% 97.2%;

    --secondary: 215 41% 13.2%;
    --secondary-foreground: 215 8.2% 97.2%;

    --accent: 215 41% 13.2%;
    --accent-foreground: 215 8.2% 97.2%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 215 8.2% 97.2%;

    --ring: 215 82% 94%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    --gradient-opacity: 0.25;
    @apply bg-background text-foreground;
    background: linear-gradient(
      -45deg,
      hsl(var(--primary) / var(--gradient-opacity)),
      hsl(var(--background) / var(--gradient-opacity)),
      hsl(var(--background) / var(--gradient-opacity)),
      hsl(var(--primary) / var(--gradient-opacity)),
      hsl(var(--accent) / var(--gradient-opacity))
    );
    background-size: 400% 400%;

    animation: Gradient 15s infinite steps(75);
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
